<%- include('partials/headerInside') -%> 
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <div>
                <p><strong>Coach Name</strong>: <%= user.coachName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <a href="/logout" class="col-3 btn btn-primary">Logout</a>
            </div>
            <div class="mt-5">
              <h2>Leave a comment</h2>
              <form action="/coach/addComment/<%= user._id %> " method="POST">
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <input type="text" class="form-control" id="comment" name="comment">
                </div>
                <button type="submit" class="btn btn-danger">Submit</button>
              </form>
            </div>
            <div>
                <ul class="row list-unstyled">
                    <% for(let i=0; i<comments.length; i++) { %>
                      <li class="justify-content-between mt-5">
                        <!--Add user attribution-->
                        <span>User <%= comments[i].createdBy %> says: "<%= comments[i].comment%>"                     
                      </li>
                    <% } %>
                  </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

<%- include('partials/footer') -%>
